header {
    background-color: #3ab6c0;
}

#scroller {
    background-color: #1e73b4;
}

body {
    background-color: #050b1b;
    color: #f3f2f6;
}

h1,
h2,
h3 {
    color: #f3f2f6;
}

a {
    color: #3ab6c0;
}

a:hover {
    color: #1e73b4;
}

.hbar {
    color: #f3f2f6;
    border-bottom-width: 1px;
}

h3 {
    border-bottom: 1px #f3f2f6 dashed;
}

.paper-icon {
    display: None;
}

.headshot {
    border: 1px solid #050b1b;
}