header {
    background-color: #176695;
}

#scroller {
    background-color: #3ab6c0;
}

body {
    background-color: #f3f2f6;
    color: #050b1b;
}

.paper-icon-dark {
    display: None;
}

h1,
h2,
h3 {
    color: #050b1b;
}

a {
    color: #176695;
}

a:hover {
    color: #3ab6c0;
}

.hbar {
    color: #050b1b;
}

h3 {
    border-bottom: 1px #050b1b dashed;
}

.headshot {
    border: 1px solid #f3f2f6;
}